@using Undersoft.SDK.Service;
@using Undersoft.SDK.Service.Application.UI.Panels;

@inject NavigationManager _navigation
@inject IServicer _servicer

<div>
    <FluentButton BackgroundColor="var(--neutral-layer-4)" OnClick="OpenAppearancePanel" Title="Site settings">
        <FluentIcon Value="@(new Icons.Regular.Size20.Settings())" Color="Color.Neutral" Title="Site settings" />
    </FluentButton>
</div>

@code
{
    private SetupPanel<AppearancePanel<Credentials>, Credentials> _dialog = default!;

    protected override void OnInitialized()
    {
        _dialog = _servicer.Initialize<SetupPanel<AppearancePanel<Credentials>, Credentials>>();
    }

    private async Task OpenAppearancePanel()
    {
        string status = "";

        var data = new GenericData<Credentials>(new Credentials());
        data.Status = status;

        await _dialog.Show(data);
    }
}
}
